.breadcrumb {
    margin-bottom: 0;
}
.btn-outline-secondary {
    &:hover {
        color: #fff !important;
    }
}
.events-in-poland-bar {
    background: rgb(66, 141, 205);
    background: linear-gradient(
        0deg,
        rgba(66, 141, 205, 1) 0%,
        rgba(15, 69, 135, 1) 100%
    );
    border-bottom: solid 3px #133870;
}
