.contact-page {
    .contact-banner {
        background: url("../images/contact.jpg") center no-repeat;
        background-size: cover;
        height: 300px;
        .contact-search {
            background-color: rgba(24, 51, 78, 0.9);
            width: 100%;
            height: 100px;
            color: #cef2ec;
        }
    }
    iframe {
        width: 100%;
        height: 450px;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        h3 {
            margin-bottom: 20px;
        }
        .social-media {
            i {
                margin: 10px;
                transition: 0.2s;
                &:hover {
                    transform: scale(1.05);
                }
            }
            .fa-facebook-square {
                color: #4267b2;
            }
            .fa-linkedin {
                color: #0077b5;
            }
        }
    }
}
