@import "./colors";
$transition: 0.3s;

.homepage-wrapper {
    .jumbotron {
        //height: 530px;
        background: url("../images/jumbotron.jpg") center center no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //padding-bottom: 0;
        margin-bottom: 0;
        background-size: cover;
        max-width: 2000px;
    }
    .jumbotron-title-wrapper {
        background-color: rgba(0, 0, 0, 0.5);
        width: max-content;
        padding: 0 20px 40px;
        border-radius: 20px;
        margin-left: 8%;
        @media (max-width: 768px) {
            margin-left: unset;
            width: 100%;
        }
        h1 {
            padding-top: 50px;
            padding-bottom: 20px;
            font-size: 1.8rem;
            color: #fff;
            max-width: 465px;
            font-weight: bold;
            @media (max-width: 576px) {
                padding: 20px 0 10px 0;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin-bottom: 1px;
            font-size: 1.1rem;
            color: #fff;
            display: flex;
            p {
                padding-left: 10px;
                margin-bottom: 0;
            }
        }
        i {
            color: #05ac90;
            line-height: 25px;
        }
    }
    .jumbotron-search {
        //min-height: 150px;
        color: #ffffff;
        padding: 10px 0;
        font-size: 1.1rem;
        background: rgba(24, 51, 78, 0.9);
        max-width: 2000px;
        .jumbotron-select-search {
            background: none;
            border: none;
            color: #fff;
            cursor: pointer;
        }
        .row {
            display: flex;
            justify-content: center;
        }
        .react-datepicker-wrapper input {
            text-align: center;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
        }
    }
    .find-event {
        padding-top: 67px;
        h2 {
            width: 100%;
            padding-bottom: 32px;
            text-align: center;
            color: #18334e;
        }
        .popular-card {
            height: 330px;
        }
        .card {
            border: none;
            position: relative;
            margin: 10px 0;
            background-color: transparent;
            cursor: pointer;
            .card-img {
                transition: 0.3s;
                height: 100%;
                object-fit: cover;
            }
            .card-img-overlay {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                .card-information {
                    width: calc(100% - 32px);
                    padding: 5px;
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    transition: 0.3s;
                    p {
                        margin: 0;
                    }
                }
            }
            &:hover .card-img {
                transform: scale(1.05);
                box-shadow: 8px 10px 15px rgba(84, 121, 178, 0.7);
            }
            &:hover .card-information {
                transform: scale(1.05);
                bottom: -5px;
            }
        }
    }
    .events-search-list {
        color: #000;
        position: absolute;
        background: #fff;
        border: 1px solid #000;
        padding: 0;
        width: 100%;
        z-index: 1000;
        li {
            list-style: none;
            text-align: left;
            border: 1px solid #cccccc;
            padding: 5px;
            &:hover {
                background: #cccccc;
                cursor: pointer;
            }
        }
    }
    .last-events {
        .last-events-list {
            margin: 0;
            padding: 0;
            .last-events-item {
                min-height: 250px;
                img {
                    width: 100%;
                    max-height: 180px;
                    object-fit: cover;
                }
                &:hover {
                    background-color: aliceblue;
                }
                .latest-events-title {
                    color: #000;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .last-events-title {
            border-bottom: solid 3px #133870;
        }
        h3 {
            margin: 0;
        }
    }
    .destination {
        background: url("../images/destination.jpg") center top;
        .row {
            justify-content: center;
            h3 {
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                // padding: 0 30px;
                text-align: center;
                line-height: 44px;
                font-size: 0.9rem;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: rgba(255, 255, 255, 0.3);
                color: #fff;
                width: 230px;
                margin: 0 auto 40px;
                @media (max-width: 992px) {
                    margin: 0 auto 10px;
                }
            }
            h2 {
                width: 100%;
                padding-top: 10px;
                padding-bottom: 30px;
                text-align: center;
                font-size: 2.25rem;
                color: #fff;
                @media (max-width: 576px) {
                    padding-bottom: 10px;
                }
            }
            p {
                text-align: center;
                color: #fff;
                font-size: 1.1rem;
                line-height: 24px;
                margin-bottom: 15px;
            }
            button {
                display: flex;
                padding: 0 40px;
                background: $btn-color;
                border: none;
                border-bottom: solid 3px $btn-dark-color;
                font-size: 1.1rem;
                line-height: 42px;
                color: #fff;
                margin: 35px auto 20px auto;
                transition: $transition;
                &:hover {
                    background: $btn-hover-color;
                    cursor: pointer;
                }
            }
            a {
                display: inline-block;
                padding: 0 40px;
                background: $btn-color;
                border: none;
                border-bottom: solid 3px $btn-dark-color;
                font-size: 1.1rem;
                line-height: 42px;
                color: #fff;
                margin: 35px auto 20px auto;
                transition: $transition;
                &:hover {
                    background: $btn-hover-color;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}
