.news-page {
    .news-banner {
        background: url("../images/news.jpg") center no-repeat;
        background-size: cover;
        height: 300px;
        .news-search {
            background-color: rgba(24, 51, 78, 0.9);
            width: 100%;
            height: 100px;
            color: #cef2ec;
        }
    }

    .news-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        h3 {
            margin-bottom: 20px;
        }
    }
}
